<div class="yourIP">
  <span>Your IP: 188.172.220.70</span>
  <span> · </span>
  <span>ISP: Anexia</span>
  <span> · </span>
  <span>Your Status: <span style="color: red;">Unprotected</span></span>

</div>
<nav>
  <img src="../../assets/images/nordvpn-logo.png" alt="nordVpn logo">
  <button mat-button>Pricing</button>
  <button mat-button>Features</button>
  <button mat-button>Servers</button>
  <button mat-button>Pricing</button>
  <button mat-button>VPN Apps</button>
  <button mat-button>Blog</button>
  <button mat-button>Business</button>

  <div class="divider"></div>

  <button mat-button  [matMenuTriggerFor]="menu">
    <mat-icon>apps</mat-icon>
    <span style="padding-left: 10px;">Products</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-button class="menuItem">
      <mat-icon svgIcon="nord-vpn" aria-hidden="false" aria-label="nord vpn icon"></mat-icon>

      <div class="menu-item-text">
        <div>Online security and privacy</div>
        <span>NordVPN</span>
      </div>
    </button>

    <button mat-button class="menuItem">
      <mat-icon  svgIcon="nord-vpn-teams" aria-hidden="false" aria-label="nord vpn teams icon"></mat-icon>
      <div class="menu-item-text">
        <div>VPN business solutions</div>
        <span>NordVPN Teams</span>
      </div>
    </button>

    <button mat-button class="menuItem">
      <mat-icon svgIcon="nord-pass" aria-hidden="false" aria-label="nord pass icon"></mat-icon>
      <div class="menu-item-text">
        <div>Password management</div>
        <span>NordPass</span>
      </div>
    </button>

    <button mat-button class="menuItem">
      <mat-icon svgIcon="nord-locker" aria-hidden="false" aria-label="nord locker icon"></mat-icon>
      <div class="menu-item-text">
        <div>Protection for files</div>
        <span>NordLocker</span>
      </div>
    </button>
  </mat-menu>


  <button mat-button>
    <mat-icon>help</mat-icon>
    <span style="padding-left: 10px;">Help</span>
  </button>
  <button mat-button>
    <mat-icon>account_circle</mat-icon>
    <span style="padding-left: 10px;">Log In</span>
  </button>
</nav>
