@import '../../styles.scss';


.yourIP{
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px 0;
  font-weight: 400;

      img{
        width: 25px;
        margin: 0 5px;
        vertical-align: sub;
      }
}


nav{
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;

      img{
        width: 150px;
        margin-right: 100px;
      }

      .divider{
        width: 1px;
        background-color: black;
        margin: 5px 10px;
      }
}


.menuItem{
  width: 100% ;
  text-align: left;

      .menu-item-text{
        display: inline-block;
        margin-left: 15px;
        position: relative;

            div{
              padding-bottom: 20px;
            }

            span{
              position: absolute;
              left: 0;
              bottom: 0;
              color: $gray;
              font-size: 11px;
            }
      }
}
