<div class="yourIP">
  <span>Your IP: {{ip}}</span>
  <span> · </span>
  <span>ISP: {{isp}}</span>
  <span> · </span>
  <span>Country: {{country}}</span>
  <span> · </span>
  <img *ngIf="country != 'UNKNOWN'" src="../../assets/images/servers/flags/{{country.toLowerCase()}}.svg">
  <span> · </span>
  <span>Your Status:</span>
  <a class="redLink" style="margin-left: 5px;"
    matTooltip="To hide your IP address, you need to get the NordVPN app and connect to one of the servers."
    [routerLink]="['/download']">Unprotected</a>
</div>

<nav>
  <a [routerLink]="['/']">
    <img src="../../assets/images/nordvpn-logo.png" alt="nordVpn logo">
  </a>

  <button mat-button [routerLink]="['/pricing']">Pricing</button>
  <button mat-button [routerLink]="['/features']">Features</button>
  <button mat-button [routerLink]="['/servers']">Servers</button>
  <button mat-button [routerLink]="['/download']">VPN Apps</button>
  <button mat-button [routerLink]="['/blog']">Blog</button>
  <button mat-button (click)="goToUrl('https://nordvpnteams.com/')">Business</button>

  <div class="divider"></div>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>apps</mat-icon>
    <span style="padding-left: 10px;">Products</span>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-button class="menuItem" disabled (click)="goToUrl('https://nordvpn.com/')">
      <mat-icon svgIcon="nord-vpn" aria-hidden="false" aria-label="nord vpn icon"></mat-icon>
      <div class="menu-item-text">
        <div>Online security and privacy</div>
        <span>NordVPN</span>
      </div>
    </button>

    <button mat-button class="menuItem" (click)="goToUrl('https://nordvpnteams.com/')">
      <mat-icon svgIcon="nord-vpn-teams" aria-hidden="false" aria-label="nord vpn teams icon"></mat-icon>
      <div class="menu-item-text">
        <div>VPN business solutions</div>
        <span>NordVPN Teams</span>
      </div>
    </button>

    <button mat-button class="menuItem" (click)="goToUrl('https://nordpass.com/')">
      <mat-icon svgIcon="nord-pass" aria-hidden="false" aria-label="nord pass icon"></mat-icon>
      <div class="menu-item-text">
        <div>Password management</div>
        <span>NordPass</span>
      </div>
    </button>

    <button mat-button class="menuItem" (click)="goToUrl('https://nordlocker.com/')">
      <mat-icon svgIcon="nord-locker" aria-hidden="false" aria-label="nord locker icon"></mat-icon>
      <div class="menu-item-text">
        <div>Protection for files</div>
        <span>NordLocker</span>
      </div>
    </button>
  </mat-menu>

  <button mat-button [routerLink]="['/support']">
    <mat-icon>help</mat-icon>
    <span style="padding-left: 10px;">Help</span>
  </button>
  <button mat-button [routerLink]="['/login']">
    <mat-icon>account_circle</mat-icon>
    <span style="padding-left: 10px;">Log In</span>
  </button>
</nav>
