<footer>
  <div class="center">
    <div class="footerTitle">Get NordVPN mobile apps</div>
    <span style="color: gray;">Download our apps for iOS and Android platforms.</span>

    <div class="getMobileApps">
      <button mat-raised-button>
        <mat-icon svgIcon="app-store" inline="true" aria-hidden="false" aria-label="apple store icon"></mat-icon>
      </button>
      <button mat-raised-button>
        <mat-icon svgIcon="google-play" inline="true" aria-hidden="false" aria-label="google-play icon"></mat-icon>
      </button>
    </div>
  </div>

  <div class="footer-links">
    <div>
      <mat-nav-list>
        <mat-list-item>
          <a mat-list-item href="">Download</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">Pricing</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">Features</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">Servers</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">VPN for Business</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">Social Responsibility</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">Student Discount</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">Reviews</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">Where to Buy</a>
        </mat-list-item>
      </mat-nav-list>
    </div>

    <div>
      <mat-nav-list>
        <mat-list-item>
          <a mat-list-item href="">What Is a VPN?</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">FAQ</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">Tutorials</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">Blog</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">About Us</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">Press Area</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">Privacy Policy</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">Terms of Service</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">Contact Us</a>
        </mat-list-item>
      </mat-nav-list>
    </div>

    <div>
      <mat-nav-list>
        <mat-list-item>
          <a mat-list-item href="">Affiliate</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">YouTube Creators</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">Become a Partner</a>
        </mat-list-item>
      </mat-nav-list>

      <mat-nav-list>
        <mat-list-item>
          <a mat-list-item href="">Web Proxy</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">YouTube Proxy</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">VPN Routers</a>
        </mat-list-item>
      </mat-nav-list>
    </div>

    <div>
      <mat-nav-list>
        <mat-list-item>
          <a mat-list-item href="">NordVPN Teams</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">NordPass</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item href="">NordLocker</a>
        </mat-list-item>
      </mat-nav-list>
    </div>

  </div>


</footer>
