footer{
  background-color: #151922;
  color: white;
}

.footerTitle{
  padding-top: 125px;
  padding-bottom: 40px;
  font-size: 40px;
  font-weight: 600;
}

.getMobileApps{
  padding: 50px 0;

    button{
      width: 175px;
      height: 60px;
      background-color: #2c3038;
      color: white;
      padding: 0px;
    }

    button:first-of-type{
      margin-right: 35px;
    }
}


.footer-links{
  display: flex;

  justify-content: space-evenly;

    a{
      color: white;
    }
}
