<footer>
  <div class="center">
    <div class="footerTitle">Get NordVPN mobile apps</div>
    <span class="gray">Download our apps for iOS and Android platforms.</span>
    <div class="getMobileApps">
      <button mat-raised-button>
        <mat-icon svgIcon="app-store" inline="true" aria-hidden="false" aria-label="apple store icon"></mat-icon>
      </button>
      <button mat-raised-button>
        <mat-icon svgIcon="google-play" inline="true" aria-hidden="false" aria-label="google-play icon"></mat-icon>
      </button>
    </div>
  </div>

  <div class="footer-links">
    <div>
      <mat-nav-list>
        <h3 matSubheader>NORDVPN</h3>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Download</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Pricing</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Features</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Servers</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">VPN for Business</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Social Responsibility</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Student Discount</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Reviews</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Where to Buy</a>
        </mat-list-item>
      </mat-nav-list>
    </div>

    <div>
      <mat-nav-list>
        <h3 matSubheader>ENGAGE</h3>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">What Is a VPN?</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">FAQ</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Tutorials</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Blog</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">About Us</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Press Area</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Privacy Policy</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Terms of Service</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Contact Us</a>
        </mat-list-item>
      </mat-nav-list>
    </div>

    <div>
      <mat-nav-list>
        <h3 matSubheader>EARN MONEY</h3>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Affiliate</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">YouTube Creators</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Become a Partner</a>
        </mat-list-item>
      </mat-nav-list>

      <mat-nav-list>
        <h3 matSubheader>PRIVACY TOOLS</h3>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">Web Proxy</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">YouTube Proxy</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">VPN Routers</a>
        </mat-list-item>
      </mat-nav-list>
    </div>

    <div>
      <mat-nav-list>
        <h3 matSubheader>PRODUCTS</h3>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">NordVPN Teams</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">NordPass</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item [routerLink]="['/routePath']">NordLocker</a>
        </mat-list-item>
      </mat-nav-list>

      <div>
        <h3 matSubheader>LANGUAGE</h3>
        <div style="padding-left: 30px;">
          <mat-form-field>
            <mat-label>Your language</mat-label>
            <mat-select [(value)]="selected">
              <mat-option *ngFor="let lang of languages" [value]="lang">
                {{lang}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div>
        <h3 matSubheader>FOLLOW US</h3>
        <div style="padding-left: 30px;">
          <button class="followButton" mat-fab>
            <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="facebook icon"></mat-icon>
          </button>

          <button class="followButton" mat-fab>
            <mat-icon svgIcon="twitter" aria-hidden="false" aria-label="twitter icon"></mat-icon>
          </button>

          <button class="followButton" mat-fab>
            <mat-icon svgIcon="instagram" aria-hidden="false" aria-label="instagram icon"></mat-icon>
          </button>

          <button class="followButton" mat-fab>
            <mat-icon svgIcon="youtube" aria-hidden="false" aria-label="youtube icon"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="lowestBlock">
    <div class="gray">
      <div>We care about your privacy.</div>
      <div>Copyright © 2012-2020 NordVPN.com support@nordvpn.com</div>
    </div>
    <div class="paycards">
      <img src="../../assets/images/footer/amex-card.svg">
      <img src="../../assets/images/footer/discover-card.svg">
      <img src="../../assets/images/footer/mastercard-card.svg">
      <img src="../../assets/images/footer/visa-card.svg">
    </div>
  </div>

</footer>
