<div class="center" style="margin:100px 0">
  <h1>All you need for a better online experience</h1>
  <small class="gray">NORDVPN FEATURES</small>
</div>

<div class="featuresBlock">
  <div class="column">
    <h2>Stay secure online – no matter what</h2>
    <p>
      Cybersecurity may seem very complex, but NordVPN makes it as easy as it gets. Cutting-edge technologies shield
      your internet activity from hackers and malware, protect you on public Wi-Fi networks, and even block annoying
      ads.
    </p>
    <p>
      <a class="blackLink" [routerLink]="['/routePath']">Next-generation encryption</a>
      <a class="blackLink" [routerLink]="['/routePath']">CyberSec</a>
      <a class="blackLink" [routerLink]="['/routePath']">Double VPN</a>
    </p>
    <p>
      “NordVPN is a robust virtual private network with an excellent collection of features, wrapped in a slick client
      that secures your online activities. Earning a rare 5-star rating, its our top pick for VPNs.”
    </p>
    <div>
      <img style="width: 75px;" src="../../assets/images/pcmag-testimonial@2x.png" alt="pc mag image">
      <div style="display: inline-block;margin-left: 10px;">
        <small>Max Eddy</small><br>
        <small class="gray">Software analyst, PCMag</small>
      </div>
    </div>
  </div>
  <div class="column">
    <img src="../../assets/images/security@2x.jpg" alt="security image" />
  </div>
</div>


<div class="featuresBlock">
  <div class="column">
    <img src="../../assets/images/privacy@2x.png" alt="privacy image" />
  </div>
  <div class="column">
    <h2>Know that your data is always private</h2>
    <p>
      Real internet privacy is just a click away. NordVPN
      <a class="blackLink" [routerLink]="['/routePath']">protects your IP address</a>
      and makes sure that no one else can
      see which websites you visit or what files you download.
    </p>
    <p>
      <a class="blackLink" [routerLink]="['/routePath']">Strict no logs policy</a>
      <a class="blackLink" [routerLink]="['/routePath']">Automatic Kill Switch</a>
      <a class="blackLink" [routerLink]="['/routePath']">DNS leak protection</a><br>
      <a class="blackLink" [routerLink]="['/routePath']">Onion Over VPN</a>
    </p>
  </div>
</div>

<div class="featuresBlock">
  <div class="column">
    <h2>Enjoy the internet with no restrictions</h2>
    <p>
      Travelling for business or pleasure? Studying or working abroad? Keep access to your favorite websites and
      entertainment content, and forget about censorship or bandwidth limits.
    </p>
    <p>
      <a class="blackLink" [routerLink]="['/routePath']">Servers & locations</a>
      <a class="blackLink" [routerLink]="['/routePath']">Streaming</a>
      <a class="blackLink" [routerLink]="['/routePath']">SmartPlay</a>
      <a class="blackLink" [routerLink]="['/routePath']">P2P welcome here</a><br>
      <a class="blackLink" [routerLink]="['/routePath']">Lightning speed</a>
    </p>
  </div>
  <div class="column">
    <img src="../../assets/images/entertainment@2x.jpg" alt="entertainment image" />
  </div>
</div>

<div class="featuresBlock">
  <div class="column">
    <img src="../../assets/images/devices@2x.png" alt="devices image" />
  </div>
  <div class="column">
    <h2>Feel safe on any device</h2>
    <p>
      You can secure up to 6 devices with a single NordVPN account – computers,
      <a class="blackLink" [routerLink]="['/routePath']">smartphones,</a> routers and more.
      <a class="blackLink" [routerLink]="['/routePath']">VPN</a> has never been
      <a class="blackLink" [routerLink]="['/routePath']">easier</a> and more flexible: at home, in the office and on the
      go.
    </p>
    <p>
      <a class="blackLink" [routerLink]="['/routePath']">VPN apps</a>
      <a class="blackLink" [routerLink]="['/routePath']">Browser proxy extension</a>
      <a class="blackLink" [routerLink]="['/routePath']">Multiple devices</a><br>
      <a class="blackLink" [routerLink]="['/routePath']">Dedicated IP address</a>
    </p>
    <p>
      “NordVPN is totally there to help protect you, whether you are at home or if you’re out in public.”
    </p>
    <div>
      <img style="width: 75px;" src="../../assets/images/techworld-testimonial@2x.png" alt="pc mag image">
      <div style="display: inline-block;margin-left: 10px;">
        <small>Tech of Tomorrow</small><br>
        <small class="gray">Tech reviewer, YouTube</small>
      </div>
    </div>
  </div>
</div>


<div class="featuresBlock">
  <div class="column">
    <h2>Get assistance 24/7</h2>
    <p>
      Our award-winning <a class="blackLink" [routerLink]="['/routePath']">customer service</a>
      agents are ready to help you all day, every day.
      <a class="blackLink" [routerLink]="['/routePath']">Get in touch</a> with them
      directly, or find the answers you’re looking for in our
      <a class="blackLink" [routerLink]="['/routePath']">Help Center.</a>
    </p>
    <div>
      <img style="width: 150px;margin: 15px 0;" src="../../assets/images/support-award.svg" alt="support award image">
    </div>
  </div>
  <div class="column">
    <img src="../../assets/images/support@2x2.png" alt="entertainment image" />
  </div>
</div>


<div class="center" style="margin: 100px 0;">
  <h1>Don’t have an account yet?</h1>
  <p class="gray">Sign up with NordVPN to get the ultimate online experience.</p>
  <div style="margin: 15px 0;">
    <button mat-button class="redButton">Sign Up Now</button>
  </div>
  <small class="gray">30-day money-back guarantee</small>
</div>
