<div class="rewiewers">
  <img src="../../assets/images/huffington-post.svg" alt="image huffington post" />
  <img src="../../assets/images/wired.svg" alt="image wired" />
  <img src="../../assets/images/pcmag-ec.svg" alt="image pc editor's choice" />
  <img src="../../assets/images/buzzfeed.svg" alt="image buzz feed" />
  <img src="../../assets/images/forbes.svg" alt="image forbes" />
  <img src="../../assets/images/cnet.svg" alt="image cnet" />
  <img src="../../assets/images/yahoo-tech.svg" alt="image yahoo tech" />
  <img src="../../assets/images/bbc.svg" alt="image bbc" />
  <img src="../../assets/images/entrepreneur.svg" alt="image entrepreneur" />
  <img src="../../assets/images/tedx.svg" alt="image tedx" />
  <img src="../../assets/images/the-guardian.svg" alt="image the guardian" />
  <img src="../../assets/images/tnw.svg" alt="image tnw" />
</div>
