<div class="rewiewers">
  <img src="assets/Images/huffington-post.svg" alt="image huffington post" />
  <img src="assets/Images/wired.svg" alt="image wired" />
  <img src="assets/Images/pcmag-ec.svg" alt="image pc editor's choice" />
  <img src="assets/Images/buzzfeed.svg" alt="image buzz feed" />
  <img src="assets/Images/forbes.svg" alt="image forbes" />
  <img src="assets/Images/cnet.svg" alt="image cnet" />
  <img src="assets/Images/yahoo-tech.svg" alt="image yahoo tech" />
  <img src="assets/Images/bbc.svg" alt="image bbc" />
  <img src="assets/Images/entrepreneur.svg" alt="image entrepreneur" />
  <img src="assets/Images/tedx.svg" alt="image tedx" />
  <img src="assets/Images/the-guardian.svg" alt="image the guardian" />
  <img src="assets/Images/tnw.svg" alt="image tnw" />
</div>
