<div>
  <mat-nav-list>
    <a mat-list-item [routerLink]="['/routePath']">
      <div>
        <img src="../../assets/images/android.svg">
        <span>Android</span>
      </div>
    </a>

    <a mat-list-item [routerLink]="['/routePath']">
      <div>
        <img src="../../assets/images/windows.svg">
        <span>Windows</span>
      </div>
    </a>

    <a mat-list-item [routerLink]="['/routePath']">
      <div>
        <img src="../../assets/images/macos.svg">
        <span>MacOS</span>
      </div>
    </a>

    <a mat-list-item [routerLink]="['/routePath']">
      <div>
        <img src="../../assets/images/ios.svg">
        <span>iOS · iPhone · iPad</span>
      </div>
    </a>

    <a mat-list-item [routerLink]="['/routePath']">
      <div>
        <img src="../../assets/images/android-tv.svg">
        <span>Android TV</span>
      </div>
    </a>

    <a mat-list-item [routerLink]="['/routePath']">
      <div>
        <img src="../../assets/images/linux.svg">
        <span>Linux</span>
      </div>
    </a>

    <a mat-list-item [routerLink]="['/routePath']">
      <div>
        <img src="../../assets/images/chrome.svg">
        <span>Chrome</span>
      </div>
    </a>

    <a mat-list-item [routerLink]="['/routePath']">
      <div>
        <img src="../../assets/images/firefox.svg">
        <span>Firefox</span>
      </div>
    </a>
  </mat-nav-list>
</div>

<div class="featuresBlock" style="background-color: #f8f8f8;">
  <div class="column">
    <h1>Download NordVPN for Windows</h1>
    <p class="gray">
      Experience the best VPN for Windows with NordVPN.
    </p>
    <div>
      <button mat-button class="blackButton">Download</button>
      <span style="margin: 0 20px;">Or</span>
      <button mat-button class="redButton">Buy NordVPN</button>
    </div>

  </div>
  <div class="column">
    <img src="../../assets/images/hero-laptop-app@2x.png" alt="hero-laptop-app" />
  </div>
</div>


<div class="featuresBlock">
  <div class="column">
    <img src="../../assets/images/easy-to-use-quick-connect@2x.png" alt="easy-to-use-quick-connect" />
  </div>
  <div class="column">
    <mat-icon style="color: blue;margin-bottom: 20px;">signal_wifi_4_bar_lock</mat-icon>
    <h1>Stay safe on public Wi-Fi</h1>
    <p class="gray">
      Use social media, shop online and check your bank account balance on public Wi-Fi hotspots.
      Just one click and you’re protected.
    </p>
  </div>
</div>


<div class="featuresBlock">
  <div class="column">
    <mat-icon style="color: blue;margin-bottom: 20px;">av_timer</mat-icon>
    <h1>Fastest VPN on the planet</h1>
    <p class="gray">
      Stay safe online without slowing down. Our optimized global server network offers a seamless
      experience for both work and play.
    </p>
  </div>
  <div class="column">
    <img src="../../assets/images/map-servers-countries@2x.jpg" alt="map-servers-countries" />
  </div>
</div>


<div class="featuresBlock">
  <div class="column">
    <img src="../../assets/images/content@2x.png" alt="content streaming" />
  </div>
  <div class="column">
    <mat-icon style="color: blue;margin-bottom: 20px;">play_arrow</mat-icon>
    <h1>Enrich your streaming experience</h1>
    <p class="gray">
      Dive into the movies and TV shows you love. Do all that in full privacy
      and security ensured by next-generation encryption.
    </p>
  </div>
</div>



<div>
  <div class="center">
    <h1>Powered by user feedback</h1>
    <p class="gray">People say the nicest things about NordVPN.</p>
  </div>
  <div class="userFeedBack">
    <a [routerLink]="['/routePath']">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar" style="background-image: url('../../assets/images/gattssbbyy.jpg')">
          </div>
          <mat-card-title>𝖌𝖆𝖙𝖘𝖇𝖞</mat-card-title>
          <mat-card-subtitle>@gattssbbyy</mat-card-subtitle>
          <img src="../../assets/images/twitter-blue.svg">
        </mat-card-header>
        <mat-card-content>
          <p>
            NordVPN is by far the best in speed and UI in my experience
          </p>
          <small class="gray">6:24 PM – 2 Apr 2020</small>
        </mat-card-content>
      </mat-card>
    </a>

    <a [routerLink]="['/routePath']">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar" style="background-image: url('../../assets/images/minnermann.jpg')">
          </div>
          <mat-card-title>Minnermann</mat-card-title>
          <mat-card-subtitle>@Minnermann_</mat-card-subtitle>
          <img src="../../assets/images/twitter-blue.svg">
        </mat-card-header>
        <mat-card-content>
          <p>
            My former <a [routerLink]="['/routePath']">#VPN</a> became unbearably slow. So I switched to
            <a [routerLink]="['/routePath']">@NordVPN</a> yesterday. I'm impressed by the speed and the ease of use
            on my Android device. Keep up the good work there!👏🏼
          </p>
          <small class="gray">11:27 AM – 8 Mar 2020</small>
        </mat-card-content>
      </mat-card>
    </a>

    <a [routerLink]="['/routePath']">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar" style="background-image: url('../../assets/images/arminziaie.jpg')">
          </div>
          <mat-card-title>Armin Ziaie Tabari</mat-card-title>
          <mat-card-subtitle>@ArminZiaie</mat-card-subtitle>
          <img src="../../assets/images/twitter-blue.svg">
        </mat-card-header>
        <mat-card-content>
          <p>
            I’m so happy with the purchase of the <a [routerLink]="['/routePath']">@NordVPN</a>.Definitely, number
            one 👌🏻
          </p>
          <small class="gray">6:03 AM – 9 Apr 2020</small>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>


<div style="padding: 25px;">
  <div class="center">
    <h1>Download VPN for all your devices</h1>
    <p>NordVPN offers user-friendly applications for all major operating systems.</p>
  </div>
  <div class="osCard">
    <div>
      <a class="blackLink_2" [routerLink]="['/routePath']">
        <mat-card>
          <img src="../../assets/images/android.svg">
        </mat-card>
        <p>Android</p>
      </a>
    </div>

    <div>
      <a class="blackLink_2" [routerLink]="['/routePath']">
        <mat-card>
          <img src="../../assets/images/windows.svg">
        </mat-card>
        <p>Windows</p>
      </a>
    </div>

    <div>
      <a class="blackLink_2" [routerLink]="['/routePath']">
        <mat-card>
          <img src="../../assets/images/macos.svg">
        </mat-card>
        <p>macOS</p>
      </a>
    </div>

    <div>
      <a class="blackLink_2" [routerLink]="['/routePath']">
        <mat-card>
          <img src="../../assets/images/ios.svg">
        </mat-card>
        <p>iOS · iPhone · iPad</p>
      </a>
    </div>

    <div>
      <a class="blackLink_2" [routerLink]="['/routePath']">
        <mat-card>
          <img src="../../assets/images/android-tv.svg">
        </mat-card>
        <p>Android TV</p>
      </a>
    </div>

    <div>
      <a class="blackLink_2" [routerLink]="['/routePath']">
        <mat-card>
          <img src="../../assets/images/linux.svg">
        </mat-card>
        <p>Linux</p>
      </a>
    </div>

    <div>
      <a class="blackLink_2" [routerLink]="['/routePath']">
        <mat-card>
          <img src="../../assets/images/chrome.svg">
        </mat-card>
        <p>Chrome</p>
      </a>
    </div>

    <div>
      <a class="blackLink_2" [routerLink]="['/routePath']">
        <mat-card>
          <img src="../../assets/images/firefox.svg">
        </mat-card>
        <p>Firefox</p>
      </a>
    </div>
  </div>
  <div class="center" style="margin-top: 50px">
    <a class="redLink" [routerLink]="['/routePath']">View other platforms</a>
  </div>
</div>


<div class="moneyBack">
  <div>
    <img src="../../assets/images/money-back-badge.svg" alt="money back image" />
  </div>
  <div>
    <h2>Become a member risk-free</h2>
    <p>
      Start protecting your online privacy and security today.
    </p>
    <button mat-flat-button>Get NordVPN</button>
  </div>
</div>
