<div style="margin: 100px 0;">

  <div class="center" style="margin-bottom: 50px;">
    <h1>
      Save big with our annual plans
    </h1>
    <p>No logs, no hidden fees. All plans come with the 30-day money-back guarantee.</p>
    <a [routerLink]="['/prices']">Discover NordVPN Teams for business.</a>
  </div>

  <div class="cards" style="margin: 15px 0;">
    <mat-card class="exclusive-deal">
      <span>2-year plan</span>
      <div class="price">
        <span>$</span>
        <h1>4.99</h1>
      </div>
      <p>per month</p>
      <mat-chip-list>
        <mat-chip>Save 58%</mat-chip>
      </mat-chip-list>
      <button mat-stroked-button>Get 2-year plan</button>
      <p class="card-bottom-text">
        <span>$286.80</span>
        <span>$119.76 billed every 2 years</span>
      </p>
    </mat-card>

    <mat-card>
      <span>2-year plan</span>
      <div class="price">
        <span>$</span>
        <h1>4.99</h1>
      </div>
      <p>per month</p>
      <mat-chip-list>
        <mat-chip>Save 58%</mat-chip>
      </mat-chip-list>
      <button mat-stroked-button>Get 2-year plan</button>
      <p class="card-bottom-text">
        <span>$286.80</span>
        <span>$119.76 billed every 2 years</span>
      </p>
    </mat-card>

    <mat-card>
      <span>2-year plan</span>
      <div class="price">
        <span>$</span>
        <h1>4.99</h1>
      </div>
      <p>per month</p>
      <mat-chip-list>
        <mat-chip>Save 58%</mat-chip>
      </mat-chip-list>
      <button mat-stroked-button>Get 2-year plan</button>
      <p class="card-bottom-text">
        <span>$286.80</span>
        <span>$119.76 billed every 2 years</span>
      </p>
    </mat-card>

    <mat-card>
      <span>2-year plan</span>
      <div class="price">
        <span>$</span>
        <h1>4.99</h1>
      </div>
      <p>per month</p>
      <mat-chip-list>
        <mat-chip>Save 58%</mat-chip>
      </mat-chip-list>
      <button mat-stroked-button>Get 2-year plan</button>
      <p class="card-bottom-text">
        <span>$286.80</span>
        <span>$119.76 billed every 2 years</span>
      </p>
    </mat-card>
  </div>
</div>


<div class="featuresBlock">
  <div class="column">
    <h2>Convenient payment methods</h2>
    <p>
      You can choose to pay for your VPN using a number of online payment services, credit cards, or different
      cryptocurrencies. Just take your pick and get going!
    </p>
  </div>
  <div class="column">
    <img src="../../assets/images/pricing/providers-infinite@2x.png" alt="infinite providers image" />
  </div>
</div>

<div class="featuresBlock">
  <div class="column">
    <img src="../../assets/images/pricing/cross-platform@2x.jpg" alt="cross platform image" />
  </div>
  <div class="column">
    <h2>VPN for all devices</h2>
    <p>
      NordVPN is compatible with all popular platforms, including Windows, macOS, Linux, Android and iOS. One account
      lets you secure up to 6 devices, including your smart TV and router.
    </p>
  </div>
</div>

<div class="featuresBlock">
  <div class="column">
    <h2>Customer support 24/7</h2>
    <p>
      Our experienced customer care agents are ready to help you all day, every day. Get in touch with them via email or
      live chat, or find the answers you’re looking for in our Help Center.
    </p>
  </div>
  <div class="column">
    <img src="../../assets/images/pricing/support@2x.png" alt="support image" />
  </div>
</div>


<h1 class="center" style="margin-bottom: 50px;margin-top: 100px;">3 more reasons to get NordVPN</h1>
<div class="moreReasons">
  <div>
    <mat-icon>play_arrow</mat-icon>
    <h3>Safe content access</h3>
    <p>
      HD movies, live sports, hot TV shows? We got it. Choose from 5773 ultra-fast VPN servers around the globe and
      enjoy the content you want in privacy and security.
    </p>
  </div>

  <div>
    <mat-icon>check_circle</mat-icon>
    <h3>Safe content access</h3>
    <p>
      HD movies, live sports, hot TV shows? We got it. Choose from 5773 ultra-fast VPN servers around the globe and
      enjoy the content you want in privacy and security.
    </p>
  </div>

  <div>
    <mat-icon>visibility_off</mat-icon>
    <h3>Safe content access</h3>
    <p>
      HD movies, live sports, hot TV shows? We got it. Choose from 5773 ultra-fast VPN servers around the globe and
      enjoy the content you want in privacy and security.
    </p>
  </div>
</div>

<div class="techExperts">
  <h2>Trusted by tech experts and real users</h2>
  <div style="display: flex;">
    <div>
      <div>
        <img src="../../assets/images/pcmag-testimonial@2x.png" alt="pc mag image">
      </div>
      <p class="gray">“As VPN services go, it's hard to beat NordVPN. It has a large and diverse collection of servers,
        an excellent
        collection of advanced features, strong privacy and security practices, and approachable clients for every major
        platform.”
      </p>
      <p>
        <small>Max Eddy</small><br>
        <small class="gray">Software analyst, PCMag</small>
      </p>
    </div>

    <div>
      <div>
        <img src="../../assets/images/techworld-testimonial@2x.png" alt="techworld image">
      </div>
      <p class="gray">“The bottom line here is: When you’re online, you don’t have to worry about being secure or about
        your information getting out there if you have a VPN. NordVPN makes it simple.”
      </p>
      <p>
        <small>Tech of Tomorrow</small><br>
        <small class="gray">Tech reviewer, YouTube</small>
      </p>
    </div>
  </div>
</div>

<div style="margin: 100px 0;">
  <div class="rewiewers">
    <img src="../../assets/images/huffington-post.svg" alt="image huffington post" />
    <img src="../../assets/images/wired.svg" alt="image wired" />
    <img src="../../assets/images/pcmag-ec.svg" alt="image pc editor's choice" />
    <img src="../../assets/images/buzzfeed.svg" alt="image buzz feed" />
    <img src="../../assets/images/forbes.svg" alt="image forbes" />
    <img src="../../assets/images/cnet.svg" alt="image cnet" />
    <img src="../../assets/images/yahoo-tech.svg" alt="image yahoo tech" />
    <img src="../../assets/images/bbc.svg" alt="image bbc" />
    <img src="../../assets/images/entrepreneur.svg" alt="image entrepreneur" />
    <img src="../../assets/images/tedx.svg" alt="image tedx" />
    <img src="../../assets/images/the-guardian.svg" alt="image the guardian" />
    <img src="../../assets/images/tnw.svg" alt="image tnw" />
  </div>
</div>

<div class="FAQ">
  <h1>Frequently asked questions</h1>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Can I buy NordVPN in retail stores?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Yes, you can get the NordVPN physical box on Amazon, Best Buy, Target, and
      <a [routerLink]="['/retail']">other retail stores.</a>
      For more anonymity, buy it in a brick-and-mortar store and pay in cash.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How do I upgrade my plan?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      You can upgrade your VPN plan at any time. To do that, simply visit your
      <a [routerLink]="['/retail']">user profile</a>
      , click on the Pick a Plan button and select the subscription plan you like. The upgrade period will start
      after your current subscription ends.
    </p>
    <p>Just don’t forget to cancel the recurring subscription to avoid being charged twice.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Do you accept PayPal?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      PayPal is no longer available as a payment option for our service. But no worries here – we accept major credit
      cards, cryptocurrencies, AliPay, WeChat, and many other payment methods.
      However, note that we cannot grant refunds if you purchased the NordVPN app through the App Store – you will have
      to contact the store support for that.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Can I use the app overseas?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Yes, you can use NordVPN when traveling. It will help you stay safe on unsecured wireless networks and keep access
      to the content and sites you’re used to. We also offer an obfuscated server option for countries that restrict VPN
      usage. Please check our Help Center for further instructions on
      <a [routerLink]="['/retail']">how to use the obfuscated servers.</a>
    </p>
  </mat-expansion-panel>
</div>

<div class="moneyBack">
  <div>
    <img src="../../assets/images/money-back-badge.svg" alt="money back image" />
  </div>
  <div>
    <h2>30-day money-back guarantee</h2>
    <p>
      Enjoy full access to all NordVPN features completely risk-free. If you are not 100% satisfied, tell us within 30
      days of the purchase date and get a full refund.
    </p>
    <button mat-flat-button>Try NordVPN Risk-Free</button>
  </div>
</div>
