.cards {
  display: flex;
  justify-content: space-evenly;

  mat-card {
    font-size: 14px;
    font-weight: 500;
    padding: 25px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.01);

    .price {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    .price span {
      font-weight: 600;
      padding-right: 5px;
      font-size: 20px;
    }
    .price h1 {
      display: inline;
    }

    mat-chip-list {
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }

    button {
      margin: 25px 0;
      width: 100%;
    }

    .card-bottom-text {
      span:first-of-type {
        color: red;
        text-decoration: line-through;
      }
      span:last-of-type {
        color: gray;
        padding-left: 10px;
      }
    }
  }

  mat-card:hover {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  }
}

mat-card.exclusive-deal {
  border: 3px solid #4687ff !important;

  button {
    background-color: #4687ff;
    color: white;
  }

  mat-chip {
    background-color: pink;
    color: red;
  }
}



















.moreReasons{
  display: flex;
  padding: 0 25px;

    mat-icon{
      color: #4687ff;
      margin: 25px 0;
    }
    p{
      color: gray;
      padding-right: 15px;
    }
}


.techExperts{
  margin: 100px 0;
  text-align: center;

    img{
      width : 75px;
      margin-top: 50px;
      margin-bottom: 15px;
    }

    p{
      padding: 0 25px;
    }
}


.rewiewers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;

  & img {
    margin: 25px;
  }
}


.FAQ{
  width: 70%;
  margin: 150px auto;

    h1{
      text-align: center;
      margin-bottom: 50px;
    }

    p{
      color: gray;
    }
    mat-panel-title{
      font-weight: 500;
    }

    mat-expansion-panel{
      margin: 25px 0;
    }

    mat-expansion-panel-header{
      padding: 10px 25px;
    }

}



.moneyBack{
  display: flex;
  align-items: center;
  margin: 50px 0;

    div:first-of-type{
      text-align: center;
    }

    div{
      width: 50%;
      padding: 25px;
    }
    p{
      color: gray;
      margin: 25px 0;
    }
    img{
      width: 50%;

    }
    button{
      background-color: #f64f64;
      color: white;
    }
    button:hover{
      background-color:rgba($color: #f64f64, $alpha: 0.8) ;
    }
}
