<div class="serverTop">
  <div>
    <h1>NordVPN servers</h1>
    <h3>5773 servers · 59 countries</h3>
    <div>
      <button mat-button class="redButton">Get NordVPN</button>
      <button mat-button class="redButtonOutLine">Recommended Server</button>
    </div>
    <p class="iconCheck">
      <mat-icon >check_circle</mat-icon>
      <span>30-day money-back guarantee</span>
    </p>
  </div>
</div>

<div>
  <div style="text-align: center;margin: 100px 0">
    <h1>List of NordVPN server locations</h1>
    <p class="gray">Choose <a [routerLink]="['/routePath']">VPN</a> servers by country or region.</p>
  </div>

  <div style="padding: 25px;">
    <!-- generates lists of servers by region -->
    <div class="serverList" *ngFor="let server of servers">
      <span class="regionName">{{server.region}}</span>
      <span class="serverCount">· {{server.count}} servers</span>
      <hr>
      <div class="countryList">
        <div class="country" *ngFor="let c of server.countries">
          <div>
            <img src="assets/Images/servers/flags/{{c.imageName}}" alt="{{c.name}} flag">
            <div style="display: inline-block;">
              <a [routerLink]="['/routePath']" class="blackLink">{{c.name}} ></a><br>
              <small class="gray">{{c.serversCount}} servers</small>
            </div>
          </div>
          <ul>
            <li *ngFor="let f of c.serverFeatures">
              <span>{{f}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>


<div class="center" style="margin:100px 0;">
  <button mat-button class="redButton">Get NordVPN</button>
</div>


<div class="featuresBlock" style="background-color: #192438;color: white;">
  <div class="column">
    <img src="assets/Images/servers/recommended-server@2x.png" alt="recomended servers image" />
  </div>
  <div class="column">
    <h1>Find the best server for your needs</h1>
    <p>
      NordVPN’s smart algorithm automatically selects the best VPN server for you based on location, loads, or your
      special requirements.
    </p>
    <button mat-button class="redButton">Find The Best Server</button>
  </div>
</div>


<div class="grayBack center" style="padding: 100px 0">
  <h1>Specialty server types</h1>
  <p class="gray">Choose servers optimized for your individual needs.</p>
  <div class="serverTypes">
    <div>
      <img src="assets/Images/servers/dedicated-ip.svg" alt="dedicated ip image">
      <h3>Dedicated IP servers</h3>
      <p class="gray">
        Order a dedicated IP address, which can only be used by you and will not be shared with any other
        NordVPN users.
      </p>
    </div>

    <div>
      <img src="assets/Images/servers/double-vpn.svg" alt="double vpn image">
      <h3>Double VPN servers</h3>
      <p class="gray">
        Send your Internet traffic through two different VPN servers for double encryption. Recommended
        for the most security-focused.
      </p>
    </div>

    <div>
      <img src="assets/Images/servers/obfuscated.svg" alt="obfuscated image">
      <h3>Obfuscated servers</h3>
      <p class="gray">
        If you’re located in a country with heavy restrictions on Internet access, connect to one of our
        obfuscated servers.
      </p>
    </div>

    <div>
      <img src="assets/Images/servers/onion-over-vpn.svg" alt="onion over vpn image">
      <h3>Onion Over VPN servers</h3>
      <p class="gray">
        For maximum online security and privacy, combine the benefits of NordVPN with the anonymizing powers
        of the Onion Router.
      </p>
    </div>

    <div>
      <img src="assets/Images/servers/p2p.svg" alt="p2p image">
      <h3>P2P Servers</h3>
      <p class="gray">
        Choose from hundreds of servers optimized for P2P sharing. NordVPN has no bandwidth limits and doesn’t log
        any of your activity.
      </p>
    </div>

    <div>
      <img src="assets/Images/servers/servers-and-locations.svg" alt="servers-and-locations image">
      <h3>Standard VPN servers</h3>
      <p class="gray">
        Get connected to ultra-fast VPN servers anywhere around the globe to change your IP address and protect
        your browsing activities.
      </p>
    </div>
  </div>

  <div class="center" style="margin-top: 50px;">
    <button mat-button class="redButton">Get NordVPN</button>
  </div>

</div>


<div style="margin: 100px 0;">
  <div class="center">
    <h1>Powered by user feedback</h1>
    <p class="gray">People say the nicest things about NordVPN.</p>
  </div>
  <div class="userFeedBack">
    <a [routerLink]="['/routePath']">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar" style="background-image: url('assets/Images/gattssbbyy.jpg')">
          </div>
          <mat-card-title>𝖌𝖆𝖙𝖘𝖇𝖞</mat-card-title>
          <mat-card-subtitle>@gattssbbyy</mat-card-subtitle>
          <img src="assets/Images/twitter-blue.svg">
        </mat-card-header>
        <mat-card-content>
          <p>
            NordVPN is by far the best in speed and UI in my experience
          </p>
          <small class="gray">6:24 PM – 2 Apr 2020</small>
        </mat-card-content>
      </mat-card>
    </a>

    <a [routerLink]="['/routePath']">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar" style="background-image: url('assets/Images/minnermann.jpg')">
          </div>
          <mat-card-title>Minnermann</mat-card-title>
          <mat-card-subtitle>@Minnermann_</mat-card-subtitle>
          <img src="assets/Images/twitter-blue.svg">
        </mat-card-header>
        <mat-card-content>
          <p>
            My former <a [routerLink]="['/routePath']">#VPN</a> became unbearably slow. So I switched to
            <a [routerLink]="['/routePath']">@NordVPN</a> yesterday. I'm impressed by the speed and the ease of use
            on my Android device. Keep up the good work there!👏🏼
          </p>
          <small class="gray">11:27 AM – 8 Mar 2020</small>
        </mat-card-content>
      </mat-card>
    </a>

    <a [routerLink]="['/routePath']">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar" style="background-image: url('assets/Images/arminziaie.jpg')">
          </div>
          <mat-card-title>Armin Ziaie Tabari</mat-card-title>
          <mat-card-subtitle>@ArminZiaie</mat-card-subtitle>
          <img src="assets/Images/twitter-blue.svg">
        </mat-card-header>
        <mat-card-content>
          <p>
            I’m so happy with the purchase of the <a [routerLink]="['/routePath']">@NordVPN</a>.Definitely, number
            one 👌🏻
          </p>
          <small class="gray">6:03 AM – 9 Apr 2020</small>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>

<div class="center grayBack" style="padding: 100px 0;">
  <h1>Don’t have an account yet?</h1>
  <p class="gray">Sign up with NordVPN to get the ultimate online experience.</p>
  <div style="margin: 15px 0;">
    <button mat-button class="redButton">Sign Up Now</button>
  </div>
  <div class="iconCheck">
    <mat-icon>check_circle</mat-icon>
    <span>30-day money-back guarantee</span>
  </div>
</div>
