<div class="serverTop">
  <div>
    <h1>NordVPN servers</h1>
    <h3>5773 servers · 59 countries</h3>
    <div>
      <button mat-button class="redButton">Get NordVPN</button>
      <button mat-button class="redButtonOutLine">Recommended Server</button>
    </div>
    <p>
      <mat-icon>check_box</mat-icon>
      <span>30-day money-back guarantee</span>
    </p>
  </div>
</div>



<div>
  <div class="center">
    <h1>Powered by user feedback</h1>
    <p class="gray">People say the nicest things about NordVPN.</p>
  </div>
  <div class="userFeedBack">
    <a [routerLink]="['/routePath']">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar" style="background-image: url('../../assets/images/gattssbbyy.jpg')">
          </div>
          <mat-card-title>𝖌𝖆𝖙𝖘𝖇𝖞</mat-card-title>
          <mat-card-subtitle>@gattssbbyy</mat-card-subtitle>
          <img src="../../assets/images/twitter-blue.svg">
        </mat-card-header>
        <mat-card-content>
          <p>
            NordVPN is by far the best in speed and UI in my experience
          </p>
          <small class="gray">6:24 PM – 2 Apr 2020</small>
        </mat-card-content>
      </mat-card>
    </a>

    <a [routerLink]="['/routePath']">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar" style="background-image: url('../../assets/images/minnermann.jpg')">
          </div>
          <mat-card-title>Minnermann</mat-card-title>
          <mat-card-subtitle>@Minnermann_</mat-card-subtitle>
          <img src="../../assets/images/twitter-blue.svg">
        </mat-card-header>
        <mat-card-content>
          <p>
            My former <a [routerLink]="['/routePath']">#VPN</a> became unbearably slow. So I switched to
            <a [routerLink]="['/routePath']">@NordVPN</a> yesterday. I'm impressed by the speed and the ease of use
            on my Android device. Keep up the good work there!👏🏼
          </p>
          <small class="gray">11:27 AM – 8 Mar 2020</small>
        </mat-card-content>
      </mat-card>
    </a>

    <a [routerLink]="['/routePath']">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar" style="background-image: url('../../assets/images/arminziaie.jpg')">
          </div>
          <mat-card-title>Armin Ziaie Tabari</mat-card-title>
          <mat-card-subtitle>@ArminZiaie</mat-card-subtitle>
          <img src="../../assets/images/twitter-blue.svg">
        </mat-card-header>
        <mat-card-content>
          <p>
            I’m so happy with the purchase of the <a [routerLink]="['/routePath']">@NordVPN</a>.Definitely, number
            one 👌🏻
          </p>
          <small class="gray">6:03 AM – 9 Apr 2020</small>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>



<div class="center" style="margin: 100px 0;">
  <h1>Don’t have an account yet?</h1>
  <p class="gray">Sign up with NordVPN to get the ultimate online experience.</p>
  <div style="margin: 15px 0;">
    <button mat-button class="redButton">Sign Up Now</button>
  </div>
  <small class="gray">30-day money-back guarantee</small>
</div>
