<div class="grayBack">
  <div style="width: 80%;margin: auto;">

    <div class="links">
      <span>Discover our blog:</span>
      <a class="blackLink_2">Home</a>
      <a class="blackLink_2" [routerLink]="['/routePath']">How-To</a>
      <a class="blackLink_2" [routerLink]="['/routePath']">In Depth</a>
      <a class="blackLink_2" [routerLink]="['/routePath']">News</a>
      <a class="blackLink_2" [routerLink]="['/routePath']">Opinion</a>
      <a class="blackLink_2" [routerLink]="['/routePath']">Service Updates</a>
    </div>

    <a [routerLink]="['/routePath']">
      <mat-card class="horizontal_card featured_article">
        <div class="col" style="background-image: url('../../assets/images/blog/nordlynx_lean-mean-1200x675-1.jpg');">
        </div>
        <div class="col">
          <mat-card-content>
            <p class="featured">
              <mat-icon>star</mat-icon>
              <span>Featured article</span>
            </p>
            <p class="article">
              Proudly announcing a major upgrade to NordVPN service — NordLynx
            </p>
            <small>Service Updates · 2 min read</small>
          </mat-card-content>
          <mat-card-header>
            <div mat-card-avatar style="background-image: url('../../assets/images/blog/male.jpeg');"></div>
            <mat-card-title>Stephen Levine</mat-card-title>
            <mat-card-subtitle>Apr 22, 2020</mat-card-subtitle>
          </mat-card-header>
        </div>
      </mat-card>
    </a>

    <!-- generates 3 vertical cards in the row -->
    <div style="margin: 100px 0;">
      <h4>Popular articles</h4>
      <div style="display: flex;">
        <a [routerLink]="['/routePath']" *ngFor="let article of popularArticles">
          <mat-card class="vertical_card">
            <div>
              <img mat-card-image src="../../assets/images/blog/{{article.image}}">
              <mat-card-content>
                <p>
                  {{article.title}}
                </p>
                <small>{{article.articleDate}}</small>
              </mat-card-content>
            </div>
            <div>
              <mat-card-header>
                <div mat-card-avatar
                  style="background-image: url('../../assets/images/blog/{{article.authorAvatar}}');">
                </div>
                <mat-card-title>{{article.authorName}}</mat-card-title>
                <mat-card-subtitle>{{article.articleDate}}</mat-card-subtitle>
              </mat-card-header>
            </div>
          </mat-card>
        </a>
      </div>
    </div>

    <!-- generates horizontal cards -->
    <div style="margin: 100px 0;">
      <h4>Recent articles</h4>
      <div>
        <a [routerLink]="['/routePath']" *ngFor="let article of articles">
          <mat-card class="horizontal_card">
            <div class="col" style="background-image: url('../../assets/images/blog/{{article.image}}');">
            </div>
            <div class="col">
              <mat-card-content>
                <p class="article">
                  {{article.title}}
                </p>
                <small>{{article.timeToRead}}</small>
              </mat-card-content>
              <mat-card-header>
                <div mat-card-avatar
                  style="background-image: url('../../assets/images/blog/{{article.authorAvatar}}');">
                </div>
                <mat-card-title>{{article.authorName}}</mat-card-title>
                <mat-card-subtitle>{{article.articleDate}}</mat-card-subtitle>
              </mat-card-header>
            </div>
          </mat-card>
        </a>
      </div>
    </div>

    <!-- pagination -->
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

  </div>
</div>
