<form [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm.value)">
  <h2>Forgot your password?</h2>

  <p>
    Enter the email address associated with your account. We’ll email you a link to reset your password.
  </p>

  <mat-form-field appearance="fill">
    <mat-label>Email address</mat-label>
    <input matInput type="email" formControlName="email">
    <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
    <mat-error *ngIf="hasError('email', 'email')">Wrong email format, should be like email@google.com</mat-error>
  </mat-form-field>

  <div class="alertBlock">
    <mat-icon>info</mat-icon>
    <span>You will be logged out from all your devices!</span>
  </div>

  <button class="blueButton" mat-flat-button [disabled]="!resetForm.valid">Send Reset Link</button>

  <p>
    <a [routerLink]="['/login']">Back to Log in</a>
  </p>
</form>
