@import '../../styles.scss';

form{
  margin: 100px auto;
  width: 30%;

      h2{
        margin-bottom: 50px;
      }

      p:first-of-type{
        color: $gray;
      }

      mat-form-field,
      .blueButton{
        width: 100%;
        margin-bottom: 25px;
        margin-top: 25px;
      }
}
