@import '../../styles.scss';

form{
  padding: 100px 0;
  margin: auto;
  width: 30%;

      h2{
        margin-bottom: 50px;
      }

      p:first-of-type{
        color: $gray;
      }

      p a{
        font-weight: 500;
      }

      mat-form-field,
      .blueButton{
        width: 100%;
        margin-bottom: 25px;
        margin-top: 25px;
      }
}
