<div class="discount">
  <div class="column">
    <p>Online security starts with a click</p>
    <p class="discountTitle">Stay safe with the world's leading VPN</p>
    <p class="countdown">00:10:00</p>
    <button mat-flat-button>Only Now 70% Off</button>
    <p>30-day money-back guarantee</p>
  </div>
  <div class="column">
    <img src="../../assets/images/clean-device@2x.png" alt="clean device image" />
  </div>
</div>
<div class="rewiers-line">
  <img src="../../assets/images/wired.svg" alt="wired image" />
  <img src="../../assets/images/huffington-post.svg" alt="huffington-post image" />
  <img src="../../assets/images/buzzfeed.svg" alt="buzzfeed image" />
  <img src="../../assets/images/forbes.svg" alt="forbes image" />
  <img src="../../assets/images/the-guardian.svg" alt="guardian image" />
  <img src="../../assets/images/bbc.svg" alt="bbc image" />
</div>

<div class="featuresBlock">
  <div class="column">
    <h1>Get secure and private access to the internet</h1>
    <p>
      Imagine VPN as a secure, encrypted tunnel for online traffic to flow.
      Nobody can see through the tunnel and get their hands on your internet
      data. NordVPN gives you peace of mind each time you use public Wi-Fi,
      access personal and work accounts on the road, or want to keep your
      browsing history to yourself.
    </p>
    <button class="blueButton" mat-flat-button>See All Features</button>
  </div>
  <div class="column">
    <img src="../../assets/images/man-sitting-on-cloud@2x.jpg" alt="image man on cloud"/>
  </div>
</div>

<div class="featuresBlock">
  <div class="column">
    <img src="../../assets/images/man-room-devices-secured@2x.jpg" alt="image devices secured"/>
  </div>
  <div class="column">
    <h1>Protect all your devices</h1>
    <p>
      Do you use Windows at work, macOS at home, and Linux for your special
      projects? No problem. There’s a NordVPN application for each of these,
      plus apps for iOS, Android, and Android TV. Oh, and also encrypted proxy
      extensions for Chrome and Firefox. Best of all, with one NordVPN account,
      you can secure <strong>up to 6 devices</strong> at the same time.
    </p>
    <p>
      Available on:
    </p>
    <button class="blueButton" mat-flat-button>Choose Your Apps</button>
  </div>
</div>

<div class="featuresBlock">
  <div class="column">
    <h1>Enjoy fast and stable connection anywhere</h1>
    <p>
      Buffering is the ultimate buzzkill, so streaming or downloading files with
      a slow internet connection is not an option. No worries here! Choose from
      over 5600 NordVPN servers in 58 countries and enjoy
      <strong>the fastest VPN experience</strong>. Having
      <strong>more servers</strong> means <strong>less load</strong>, and the
      wide variety of locations means there’s a higher chance you’ll find one
      nearby.
    </p>
    <button class="blueButton" mat-flat-button>Check Locations</button>
  </div>
  <div class="column">
    <img src="../../assets/images/man-browsing-world-flags@2x.jpg" alt="image man browsing world" />
  </div>
</div>

<div class="center" style="margin-top: 100px;">
  <h1>The reviews are in</h1>
  <p style="color: gray; margin-bottom: 50px;">
    Find out what YouTube content creators have to say about NordVPN.
  </p>
  <div class="videoReviews">
    <div class="reviewer" style="
        background-image: url(../../assets/images/testimonials-dave-taylor@2x.jpg);">
      <div class="reviewer-text">
        <p>With NordVPN, you can just launch it and forget about it!</p>
        <p>Dave Taylor · vpnMentor</p>
      </div>
    </div>
    <div class="reviewer" style="
        background-image: url(../../assets/images/testimonials-elric-phares@2x.jpg);">
      <div class="reviewer-text">
        <p>Never feel unsafe online, wherever you are!</p>
        <p>Elric Phares · Tech of Tomorrow</p>
      </div>
    </div>
    <div class="reviewer" style="
        background-image: url(../../assets/images/testimonials-phillip-defranco@2x.jpg);">
      <div class="reviewer-text">
        <p>You should 100% be using a VPN!</p>
        <p>Philip DeFranco</p>
      </div>
    </div>
  </div>
</div>

<div style="margin: 150px 0;">
  <h1 class="center">They talk about us</h1>
  <div class="rewiewers">
    <img src="../../assets/images/huffington-post.svg" alt="image huffington post" />
    <img src="../../assets/images/wired.svg" alt="image wired" />
    <img src="../../assets/images/pcmag-ec.svg" alt="image pc editor's choice" />
    <img src="../../assets/images/buzzfeed.svg" alt="image buzz feed" />
    <img src="../../assets/images/forbes.svg" alt="image forbes" />
    <img src="../../assets/images/cnet.svg" alt="image cnet" />
    <img src="../../assets/images/yahoo-tech.svg" alt="image yahoo tech" />
    <img src="../../assets/images/bbc.svg" alt="image bbc" />
    <img src="../../assets/images/entrepreneur.svg" alt="image entrepreneur" />
    <img src="../../assets/images/tedx.svg" alt="image tedx" />
    <img src="../../assets/images/the-guardian.svg" alt="image the guardian" />
    <img src="../../assets/images/tnw.svg" alt="image tnw" />
  </div>
</div>

<div style="margin-bottom: 100px;">
  <h1 class="center" style="margin-bottom: 50px;">
    Choose a plan that’s right for you
  </h1>
  <div class="cards" style="margin: 15px 0;">
    <mat-card class="exclusive-deal">
      <span>2-year plan</span>
      <div class="price">
        <span>$</span>
        <h1>4.99</h1>
      </div>
      <p>per month</p>
      <mat-chip-list>
        <mat-chip>Save 58%</mat-chip>
      </mat-chip-list>
      <button mat-stroked-button>Get 2-year plan</button>
      <p class="card-bottom-text">
        <span>$286.80</span>
        <span>$119.76 billed every 2 years</span>
      </p>
    </mat-card>

    <mat-card>
      <span>2-year plan</span>
      <div class="price">
        <span>$</span>
        <h1>4.99</h1>
      </div>
      <p>per month</p>
      <mat-chip-list>
        <mat-chip>Save 58%</mat-chip>
      </mat-chip-list>
      <button mat-stroked-button>Get 2-year plan</button>
      <p class="card-bottom-text">
        <span>$286.80</span>
        <span>$119.76 billed every 2 years</span>
      </p>
    </mat-card>

    <mat-card>
      <span>2-year plan</span>
      <div class="price">
        <span>$</span>
        <h1>4.99</h1>
      </div>
      <p>per month</p>
      <mat-chip-list>
        <mat-chip>Save 58%</mat-chip>
      </mat-chip-list>
      <button mat-stroked-button>Get 2-year plan</button>
      <p class="card-bottom-text">
        <span>$286.80</span>
        <span>$119.76 billed every 2 years</span>
      </p>
    </mat-card>

    <mat-card>
      <span>2-year plan</span>
      <div class="price">
        <span>$</span>
        <h1>4.99</h1>
      </div>
      <p>per month</p>
      <mat-chip-list>
        <mat-chip>Save 58%</mat-chip>
      </mat-chip-list>
      <button mat-stroked-button>Get 2-year plan</button>
      <p class="card-bottom-text">
        <span>$286.80</span>
        <span>$119.76 billed every 2 years</span>
      </p>
    </mat-card>
  </div>
</div>
