@import '../../styles.scss';

.discount {
  background-image: url(../../assets/images/home/clouds.jpg);
  background-size: cover;
  display: flex;
  color: white;

      .column{

            img {
              width: 50%;
            }

            .discountTitle {
              font-size: 50px;
              line-height: normal;
              font-weight: 500;
              margin-top: 20px;
            }

            .countdown {
              font-size: 35px;
              margin: 45px 0;
            }
      }
}



.rewiers-line {
  background-color: $grayBack;
  display: flex;
  padding: 25px 0;
  justify-content: space-evenly;
  filter: grayscale(100);
}







.availablePlatforms{
  display: flex;
  margin-bottom: 30px;

      a {
        margin-left: 10px;

        img{
          width: 25px;
      }
      }
      a:hover{

        img{
          filter: invert(47%) sepia(56%) saturate(4321%) hue-rotate(325deg) brightness(101%) contrast(93%);
        }
      }
}
